<!-- Footer -->
<div class="footer">
    <div class="container px-4 sm:px-8">
        <h4 class="mb-8 lg:max-w-3xl lg:mx-auto">Pavo is a mobile application for marketing automation and you can reach
            the team at <a class="text-indigo-600 hover:text-gray-500" href="#!">email@domain.com</a></h4>
        <div class="social-container">
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-pinterest-p fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x"></i>
                </a>
            </span>
        </div>
    </div>
</div>


<div class="copyright">
    <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-3">
        <ul class="mb-4 list-unstyled p-small">
            <li class="mb-2"><a href="#!">Article Details</a></li>
            <li class="mb-2"><a href="/terms">Terms & Conditions</a></li>
            <li class="mb-2"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="pb-2 p-small statement">Copyright © <a href="https://greenwich.edu.vn/"
                class="no-underline">Greenwich</a></p>

        <p class="pb-2 p-small statement">Distributed by: <a href="!#" class="no-underline">Comp1640</a></p>
    </div>
</div>