{{#ifeq noFooter 'true'}}
<div class="footer">
  <div class="container px-4 sm:px-8">
    <div class="social-container">
      <span class="fa-stack">
        <a href="#!">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
        </a>
      </span>
      <span class="fa-stack">
        <a href="#!">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
        </a>
      </span>
      <span class="fa-stack">
        <a href="#!">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-pinterest-p fa-stack-1x"></i>
        </a>
      </span>
      <span class="fa-stack">
        <a href="#!">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
        </a>
      </span>
      <span class="fa-stack">
        <a href="#!">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-youtube fa-stack-1x"></i>
        </a>
      </span>
    </div>
  </div>
</div>

<div class="copyright">
  <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-3">
    <ul class="mb-4 list-unstyled p-small">
      <li class="mb-2"><a href="/terms">Terms & Conditions</a></li>
      <li class="mb-2"><a href="/privacy">Privacy Policy</a></li>
    </ul>
    <p class="pb-2 p-small text-center">Copyright ©
      <a href="https://greenwich.edu.vn/" class="no-underline">Greenwich</a>
    </p>

    <p class="pb-2 p-small text-center">Distributed by:
      <a href="!#" class="no-underline">Greenwich students</a>
    </p>
  </div>
</div>
{{/ifeq}}