<div class="pt-4 pb-14 text-center">
  <div class="container px-4 sm:px-8 xl:px-4">
    <p
      class="mb-4 text-gray-800 text-3xl leading-10 lg:max-w-5xl lg:mx-auto"
    >Web-based secure role-based system for collecting student contributions for
      an annual university magazine in a large university</p>
  </div>
</div>

<div id="features" class="cards-1">
  <div class="container px-4 sm:px-8 xl:px-4">

    <div class="card">
      <div class="card-image">
        <img src="/images/template/features-icon-1.svg" alt="alternative" />
      </div>
      <div class="card-body">
        <h5 class="card-title">Platform Integration</h5>
        <p class="mb-4">You sales force can use the app on any smartphone
          platform without compatibility issues</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="/images/template/features-icon-6.svg" alt="alternative" />
      </div>
      <div class="card-body">
        <h5 class="card-title">Community Support</h5>
        <p class="mb-4">Register the app and get acces to knowledge and ideas
          from the COMP1640 online community
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="/images/template/features-icon-3.svg" alt="alternative" />
      </div>
      <div class="card-body">
        <h5 class="card-title">Great Performance</h5>
        <p class="mb-4">Optimized code and innovative technology insure no
          delays and ultra-fast responsiveness</p>
      </div>
    </div>

  </div>
</div>

<div id="details" class="pt-12 pb-16 lg:pt-16">
  <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
    <div class="lg:col-span-5">
      <div class="mb-16 lg:mb-0 xl:mt-16">
        <h2 class="mb-6">Results driven ground breaking technology</h2>
        <p class="mb-4">Based on our team's extensive experience in developing
          line of business applications and constructive customer feedback we
          reached a new level of revenue.</p>
        <p class="mb-4">We enjoy helping small and medium sized tech businesses
          take a shot at established Fortune 500 companies</p>
      </div>
    </div>
    <div class="lg:col-span-7">
      <div class="xl:ml-14">
        <img
          class="inline"
          src="/images/template/details-1.jpg"
          alt="alternative"
        />
      </div>
    </div>
  </div>
</div>

<div class="py-24">
  <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
    <div class="lg:col-span-7">
      <div class="mb-12 lg:mb-0 xl:mr-14">
        <img
          class="inline"
          src="/images/template/details-2.jpg"
          alt="alternative"
        />
      </div>
    </div>
    <div class="lg:col-span-5">
      <div class="xl:mt-12">
        <h2 class="mb-6">Instant results for the marketing department</h2>
        <ul class="list mb-7 space-y-2">
          <li class="flex">
            <i class="fas fa-chevron-right"></i>
            <div>Features that will help you and your marketers</div>
          </li>
          <li class="flex">
            <i class="fas fa-chevron-right"></i>
            <div>Smooth learning curve due to the knowledge base</div>
          </li>
          <li class="flex">
            <i class="fas fa-chevron-right"></i>
            <div>Ready out-of-the-box with minor setup settings</div>
          </li>
        </ul>
        <a
          class="btn-solid-reg popup-with-move-anim mr-1.5"
          href="#details-lightbox"
        >Lightbox</a>
        <a class="btn-outline-reg" href="article.html">Details</a>
      </div>
    </div>
  </div>
</div>

<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-8">
    <button
      title="Close (Esc)"
      type="button"
      class="mfp-close x-button"
    >×</button>
    <div class="lg:col-span-8">
      <div class="mb-12 text-center lg:mb-0 lg:text-left xl:mr-6">
        <img
          class="inline rounded-lg"
          src="/images/template/details-lightbox.jpg"
          alt="alternative"
        />
      </div>
    </div>
    <div class="lg:col-span-4">
      <h3 class="mb-2">Goals Setting</h3>
      <hr class="w-11 h-0.5 mt-0.5 mb-4 ml-0 border-none bg-indigo-600" />
      <p>The app can easily help you track your personal development evolution
        if you take the time to set it up.</p>
      <h4 class="mt-7 mb-2.5">User Feedback</h4>
      <p class="mb-4">This is a great app which can help you save time and make
        your live easier. And it will help improve your productivity.</p>
      <ul class="list mb-6 space-y-2">
        <li class="flex">
          <i class="fas fa-chevron-right"></i>
          <div>Splash screen panel</div>
        </li>
        <li class="flex">
          <i class="fas fa-chevron-right"></i>
          <div>Statistics graph report</div>
        </li>
        <li class="flex">
          <i class="fas fa-chevron-right"></i>
          <div>Events calendar layout</div>
        </li>
        <li class="flex">
          <i class="fas fa-chevron-right"></i>
          <div>Location details screen</div>
        </li>
        <li class="flex">
          <i class="fas fa-chevron-right"></i>
          <div>Onboarding steps interface</div>
        </li>
      </ul>
      <a
        class="btn-solid-reg mfp-close page-scroll"
        href="#download"
      >Download</a>
      <button
        class="btn-outline-reg mfp-close as-button"
        type="button"
      >Back</button>
    </div>
  </div>
</div>

<div class="pt-16 pb-12">
  <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-12 lg:gap-x-12">
    <div class="lg:col-span-5">
      <div class="mb-16 lg:mb-0 xl:mt-16">
        <h2 class="mb-6">Platform integration and life time free updates</h2>
        <p class="mb-4">Get a glimpse of what this app can do for your marketing
          automation and understand why current users are so excited when using
          COMP1640 together with their teams.</p>
        <p class="mb-4">We will promptly answer any questions and honor your
          requests based on the service level agreement</p>
      </div>
    </div>
    <div class="lg:col-span-7">
      <div class="ml-14">
        <img
          class="inline"
          src="/images/template/details-3.jpg"
          alt="alternative"
        />
      </div>
    </div>
  </div>
</div>

<div class="counter">
  <div class="container px-4 sm:px-8">

    <div id="counter">
      <div class="cell">
        <div class="counter-value number-count" data-count="231">1</div>
        <p class="counter-info">Database</p>
      </div>
      <div class="cell">
        <div class="counter-value number-count" data-count="385">1</div>
        <p class="counter-info">Web desgin</p>
      </div>
      <div class="cell">
        <div class="counter-value number-count" data-count="159">1</div>
        <p class="counter-info">Mobile application</p>
      </div>
      <div class="cell">
        <div class="counter-value number-count" data-count="127">1</div>
        <p class="counter-info">UX/UI</p>
      </div>
      <div class="cell">
        <div class="counter-value number-count" data-count="211">1</div>
        <p class="counter-info">Information architect</p>
      </div>
    </div>

  </div>
</div>

<div id="download" class="basic-5">
  <div class="container px-4 sm:px-8 lg:grid lg:grid-cols-2">
    <div class="mb-16 lg:mb-0">
      <img src="/images/template/conclusion-smartphone.png" alt="alternative" />
    </div>
    <div class="lg:mt-24 xl:mt-44 xl:ml-12">
      <p class="mb-9 text-gray-800 text-3xl leading-10">Team management mobile
        applications don’t get much better than COMP1640. Download it today</p>
      <a class="btn-solid-lg" href="#your-link"><i
          class="fab fa-apple"
        ></i>Download</a>
      <a class="btn-solid-lg secondary" href="#your-link"><i
          class="fab fa-google-play"
        ></i>Download</a>
    </div>
  </div>
</div>